.container .header {
  height: 5rem;
  padding: 0 0 0 22rem;
  display: flex;
  align-items: center;
}
.container .header .logo {
  width: 3rem;
  height: 3.5rem;
  margin: 0 1rem 0 0;
  position: relative;
}
.container .header h1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.container main {
  padding: 0 0 0 19rem;
  height: 300rem;
}
.container main .hero {
  display: flex;
  margin-bottom: 10rem;
}
.container main .hero .dummy {
  width: 12.8rem;
  display: block;
}
.container main .hero .left {
  width: 0rem;
}
.container main .hero .left h2 {
  font-family: "Pacifico";
  font-size: 9.6rem;
  line-height: 9.6rem;
  width: max-content;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
}
.container main .hero .right {
  width: min-content;
  margin-left: 8.8rem;
}
.container main .hero .right .headline p {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.container main .hero .right .headline p:last-child {
  margin: 0 0 10rem 0;
}
.container main .hero .right .slogan h3 {
  font-size: 6.4rem;
  line-height: 8.7rem;
  font-weight: bold;
  background-color: #00ffd1;
  width: max-content;
}
.container main .hero .right .slogan h3:nth-child(1) {
  margin: 0 0 1rem 0;
}
.container main .hero .right .slogan h3:nth-child(2) {
  margin: 0 0 5rem 0;
}
.container main .hero .right .card {
  border: solid #000 0.4rem;
  width: 80rem;
  padding: 3rem 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-fill: auto;
  height: -webkit-fill-available;
}
.container main .hero .right .card .discription {
  font-size: 1.6rem;
  line-height: 1.8em;
}
.container main .hero .right .card .selfIntro {
  display: flex;
}
.container main .hero .right .card .selfIntro .profile {
  position: relative;
  width: 17.5rem;
  height: 17.5rem;
}
.container main .hero .right .card .selfIntro .profileRight {
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.container main .hero .right .card .selfIntro .profileRight .intro p {
  font-size: 1.6rem;
  line-height: 1.8em;
}
.container main .hero .right .card .selfIntro .profileRight .link {
  width: fit-content;
  position: relative;
}
.container main .hero .right .card .selfIntro .profileRight .link p {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  width: max-content;
  margin-bottom: 0.8rem;
  display: flex;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 13%;
}
.container main .hero .right .card .selfIntro .profileRight .link .svg {
  width: 7rem;
  height: 7rem;
  display: flex;
}
.container main .workList {
  padding: 0 27.9rem 0 3.2rem;
  position: relative;
  margin-bottom: 15rem;
}
.container main .workList .title {
  width: 30rem;
  height: 8.3rem;
  border: #000 solid 0.4rem;
  width: 30rem;
  transform: rotate(90deg);
  transform-origin: 0 0;
  display: flex;
  float: right;
  position: absolute;
  top: -5rem;
  right: -6.5rem;
  box-sizing: content-box;
}
.container main .workList .title ::after {
  content: "Web Design";
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 10%;
  width: max-content;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
.container main .workList .title canvas {
  width: 30rem;
  height: 8.3rem;
}
.container main .blogList {
  padding: 0 23.4rem 0 7.9rem;
  position: relative;
}
.container main .blogList .title {
  border: #000 solid 0.4rem;
  width: 30rem;
  height: 8.3rem;
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  top: -5%;
  left: 2.5%;
  box-sizing: content-box;
}
.container main .blogList .title ::after {
  content: "Blog";
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 10%;
  width: max-content;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
.container main .blogList .title canvas {
  width: 30rem;
  height: 8.3rem;
}
.container main .snsContainer .snsList {
  display: flex;
}
.container main .snsContainer .snsList .timeline,
.container main .snsContainer .snsList .twitter {
  width: 27.5rem;
  height: 35rem;
  overflow: scroll;
  display: flex;
}
.container main .contact .container {
  margin-left: calc((100vw - 100%) / 2 * -2);
  background-color: #00ffd1;
  height: 30rem;
}

/*# sourceMappingURL=Home.module.css.map */
